# Backend API Base URL (e.g. https://your-backend-service.com/api or /api)
VITE_API_BASE_URL=/api

# Firebase Web Client Configuration
VITE_FIREBASE_API_KEY=AIzaSyBPIolp6trEK2k3th1JbXyUX8463k0974c
VITE_FIREBASE_AUTH_DOMAIN=email-verifier-4761a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=email-verifier-4761a
VITE_FIREBASE_STORAGE_BUCKET=email-verifier-4761a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=87429559477
VITE_FIREBASE_APP_ID=1:87429559477:web:24a07d1bddd622e9adfafc
