# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite3
*.parquet

# Node / JS
node_modules/
dist/
build/
.DS_Store
*.wal
# IDE
.vscode/
.idea/
*.wal
# Credentials / Keys
*key.json
*.json.json
backend/firebase/*.json
*.zip